<!-- <form (ngSubmit)="Submit( f )" #f="ngForm">
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <h3><i class="fas fa-city"></i> {{ title | uppercase}} <b><small style="color: green;">{{ subtitle }}</small></b></h3>
        </div>
    </div>
    <hr>
    <br>
    <div class="row mt-1 col-md-12 col-sm-12 col-lg-12 col-xl-12">
        <div class="form-group col-md-6 col-sm-12 col-xl-6 col-lg-6">
            <label for="tipoCliente">TIpo Cliente</label>
            <input type=" text " class="form-control " id="tipoCliente" [(ngModel)]="tipo.tipoCliente" name="tipoCliente" autocomplete="off" required>
            <span *ngIf="f.submitted && f.controls['tipoCliente'].errors" class="text-danger">* Obligatorio</span>
        </div>        
    </div>
   
    <br>
    <div class="row col-md-12 col-sm-12 col-lg-12 col-xl-12 text-end">
        <div class="form-group col-md-12 col-xl-12 col-sm-12 col-lg-12">
            <button type="submit " class="btn btn-success "><i class="fas fa-save "></i> Guardar</button>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</form> -->